/*body, html changes */
body, html{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Heebo', sans-serif;
}

a{
	text-decoration: none;
}

/* Sidebar container and the things in it */
.sidebar-container{
	position: fixed;
	width: 280px;
	height: 100%;
	background-color: #5c5c5c;
	z-index: 2;
	opacity: 0.9;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-item{
	font-weight: 700;
	font-size: 25px;
	color: white;
	padding: 15px 20px 15px 20px;
}

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.sidebar-item:hover{
	color: #977E90;
}

#title{
	color: white;
	font-size: 20px;
	padding-left: 10%;
    padding-bottom: 2%;
}

/* nav bar button */
#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
	z-index: 10;
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/* page wrapper (entire thing) */
.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.section{
	width: 100%;
	height: 500px;
	position: relative;
}
/* home and contact section */
.information{
	font-family: 'Arizonia', cursive;
	color: white;
	font-weight: 500;
	text-align: -webkit-center;
    font-size: 100px;
    padding-top: 1%;
}

#contact-section{
	height: 400px;
	background-color: #977E90;
}

.home-section{
	width: 100%;
	height: 700px;
	position: relative;
	background-color: #977E90;
}

#name{
	font-family: 'Arizonia', cursive;
	text-align: -webkit-center;
	font-weight: 500;
	color: white;
	font-size: 200px;
	padding: 15%;
}

#aboutme-section{
	background-color: #DFD2C0;
}

.myself {
	float: left;
	width: 600px;
}

#blurb{
	color: #5c5c5c;
	text-align: left;
	padding-left: 1%;
	padding-top: 3%;
	line-height: 2;
}

#myself-img{
	height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    margin-left: 25%;
    padding-top: 2%;
    border-radius: 30px;
}
/*portfolio section */
#portfolio-item{
	color: white;
}

p{
	color: white;
	text-shadow: 1px gray;
}

#title:hover{
	color: #977E90;
}

/*Bakery portfolio */
#portfolio-section1{
	background-color: #A69DAC;
}

#title-of-project1{
	font-family: 'Arizonia', cursive;
	color: white;
	font-weight: 500;
	text-align: left;
	font-size: 100px;
	/*padding-top: 1%; */
	padding-bottom: 0.5%;
	padding-left: 3%;
}

/*#page{
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
    padding-left: 7%;
    padding-bottom: 1%;
}*/

.bakery{
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
    padding-left: 7%;
    padding-bottom: 1%;
}

.bakery:hover{
	cursor: pointer;
}

#bakery-blurb{
	color: white;
	padding-left: 35%;
	padding-bottom: 35%;
}

/*seasons section*/
#portfolio-section2{
	background-color: #F7F2E0;
}

#title-of-project2{
	font-family: 'Arizonia', cursive;
	color: #5c5c5c;
	font-weight: 500;
	text-align: right;
	font-size: 100px;
	padding-top: 1%;
	padding-right: 3%;
}

#season-img {
	float: right;
    max-width: 800px;
    max-height: 750px;
    padding-top: 7%;
    padding-right: 2%;
}

#season-img:hover{
	cursor: pointer;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	top: 0px;
	left: 0px;
	z-index: 20;
}

#close {
	position: fixed;
	width: 20px;
	top: 20px;
	right: 20px;
}

#close:hover {
	cursor: pointer;
}

.bakery-pic-click {
	position: fixed;
	z-index: 21;
	width: 80%;
	top: 7%;
	left: 5%;
}

.season-pic-click {
	position: fixed;
	z-index: 21;
	width: 80%;
	top: 30%;
	left: 12%;
}

/*.display{
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

.height-width{
	max-height: none;
	max-width: none;
}

.pic-click:hover {
	cursor: default;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}