/*body, html changes */
body, html{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Quicksand', sans-serif;
	background-color: #4B5354;
}

a{
	text-decoration: none;
}

/* Sidebar container and the things in it */
.sidebar-container{
	position: fixed;
	width: 280px;
	height: 100%;
	background-color: #4B5354;
	z-index: 2;
	opacity: 0.9;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
	-moz-transform: translateX(-280px);
	-moz-transition: all 0.3s;
}


.sidebar-item{
	font-weight: 500;
	font-size: 25px;
	color: #F3F4E5;
	padding: 15px 20px 15px 20px;
}

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.sidebar-item:hover{
	color: #A1C1BE;
	transition: 0.2s;
}

#title{
	font-size: 20px;
	padding-left: 10%;
    padding-bottom: 2%;
    color: #ffffff;
}

/* nav bar button */
#nav-mover { 
	position: absolute; 
	left: 50%; top: 50%; 
	z-index: 10;
}

#nav-mover {
	padding: 10px 30px 15px 0px; 
}

#nav-mover span, #nav-mover span:before, #nav-mover span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-mover span:before {
	top: -10px; 
}

#nav-mover span:after {
	bottom: -10px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/* page wrapper (entire thing) */
.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.section{
	width: 100%;
	height: 500px;
	position: relative;
}
/* home and contact section */
.information{
	font-family: 'Arizonia', cursive;
	color: #4B5354;
	font-weight: 500;
	text-align: -webkit-center;
    font-size: 100px;
}

.home-section{
	position: relative;
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #A1C1BE;
}

#hi{
	position: absolute;
	z-index: 2;
	opacity: 1;
	text-align: -webkit-center;
	font-weight: 500;
	color: #ffffff;
	font-size: 120px;
	padding: 16%;
	padding-left: 20%;
}

#hi.disappear{
	opacity: 0;
}

#name{
	position: absolute;
	z-index: 1;
	opacity: 0;
	font-family: 'Arizonia', cursive;
	text-align: -webkit-center;
	font-weight: 500;
	color: #ffffff;
	font-size: 200px;
	padding: 11%;
	padding-left: 20%;
	transition: opacity 5s ease-in;
}

#name.appear{
	opacity: 1;
}


#aboutme-section{
	background-color: #F3F4E5;
}

.myself {
	float: left;
	width: 600px;
}

#blurb{
	color: #4B5354;
	text-align: center;
	padding-left: 6%;
	line-height: 2;
	font-weight: 800;
}

#myself-img{
	height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    margin-left: 30%;
    margin-top: 17%;
    border-radius: 30px;
}
/*portfolio section */
#portfolio-item{
	color: white;
}

p{
	color: white;
	text-shadow: 1px gray;
}

#title:hover{
	color: #A1C1BE;
}

/*Bakery portfolio */
#portfolio-section1{
	background-color: #4B5354;
}

#title-of-project1{
	font-family: 'Arizonia', cursive;
	color: #F3F4E5;
	font-weight: 500;
	text-align: left;
	font-size: 100px;
	padding-left: 11%;
}

.bakery{
	height: auto; 
    width: auto; 
    max-width: 330px; 
    max-height: 300px;
}

.bakery:hover{
	cursor: pointer;
}

#bakery-descrip{
	padding-left: 0%;
	font-size: 15px;
	font-weight: 500;
	max-width: 700px;
	line-height: 0.5;
	margin-top: 2%;
}

#bakery-blurb{
	color: #F3F4E5;
	font-weight: 600;
	float: left;
	max-width: 650px;
	line-height: 2;
	text-align: center;
	padding-left: 10%;
    padding-bottom: 1%;
}

#front-page{
	padding-top: 3%;
    padding-left: 9%;
}

#back-page{
    padding-top: 2%;
	padding-left: 9%;
}

/*seasons section*/
#portfolio-section2{
	background-color: #F3F4E5;
}

#title-of-project2{
	font-family: 'Arizonia', cursive;
	color: #4B5354;
	font-weight: 500;
	text-align: right;
	font-size: 100px;
	padding-right: 20%;
}

.small-ver{
	display: inline;
	max-width: 100px;
	max-height: 100px;
	padding-left: 1.1%;
}

#snippet{
	padding-top: 10%;
}

#season-img {
	float: left;
	clear: left;
    max-width: 800px;
    max-height: 750px;
    padding-top: 4%;
    padding-left: 3%;
}

#season-img:hover{
	cursor: pointer;
}

.season-blurb{
	float: right;
	color: #4B5354;
	padding-top: 1%;
	padding-right: 3%;
	max-width: 500px;
	line-height: 1.9;
	text-align: center;
	font-weight: 800;
}

#season-descrip{
	padding-top: 1.5%;
	font-size: 15px;
	font-weight: 500;
	max-width: 500px;
	line-height: 1.1;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	top: 0px;
	left: 0px;
	z-index: 20;
}

/*picture enlargement*/

#close {
	position: fixed;
	width: 20px;
	top: 20px;
	right: 20px;
}

#close:hover {
	cursor: pointer;
}

.bakery-pic-click {
	margin-left: none;
	position: fixed;
	z-index: 21;
	width: 80%;
	top: 1%;
	left: 1%;
}

.season-pic-click {
	position: fixed;
	z-index: 21;
	width: 80%;
	top: 30%;
	left: 8%;
}

/*chat section */
#contact-section{
	background-color: #4B5354;
	height: 300px;
}

#chat{
	color: #F3F4E5;
}

.contact-link{
	color: #F3F4E5;
	float: left;
	padding: 3%;
	margin-right: 1%;
	margin-left: 9%;
	font-weight: 800;
	font-size: 15px;
}

.contact-link:hover{
	color: #A1C1BE;
	transition: 0.2s;
	cursor: pointer;
}

.height-width{
	max-height: none;
	max-width: none;
}

.pic-click:hover {
	cursor: default;
}

/* jQuery */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}